<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>png</key>
		<string>d_baibai.png</string>
		<key>chs</key>
		<string>[拜拜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_aini.png</string>
		<key>chs</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_aoteman.png</string>
		<key>chs</key>
		<string>[奥特曼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_beishang.png</string>
		<key>chs</key>
		<string>[悲伤]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_bishi.png</string>
		<key>chs</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_bizui.png</string>
		<key>chs</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_chanzui.png</string>
		<key>chs</key>
		<string>[馋嘴]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_chijing.png</string>
		<key>chs</key>
		<string>[吃惊]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_dahaqi.png</string>
		<key>chs</key>
		<string>[打哈气]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_dalian.png</string>
		<key>chs</key>
		<string>[打脸]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_ding.png</string>
		<key>chs</key>
		<string>[顶]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_doge.png</string>
		<key>chs</key>
		<string>[doge]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_feizao.png</string>
		<key>chs</key>
		<string>[肥皂]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_ganmao.png</string>
		<key>chs</key>
		<string>[感冒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_guzhang.png</string>
		<key>chs</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_haixiu.png</string>
		<key>chs</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_han.png</string>
		<key>chs</key>
		<string>[汗]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_heixian.png</string>
		<key>chs</key>
		<string>[黑线]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_heng.png</string>
		<key>chs</key>
		<string>[哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_huaxin.png</string>
		<key>chs</key>
		<string>[花心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_hehe.png</string>
		<key>chs</key>
		<string>[呵呵]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_jiyan.png</string>
		<key>chs</key>
		<string>[挤眼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_keai.png</string>
		<key>chs</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_kelian.png</string>
		<key>chs</key>
		<string>[可怜]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_ku.png</string>
		<key>chs</key>
		<string>[酷]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_kun.png</string>
		<key>chs</key>
		<string>[困]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_landelini.png</string>
		<key>chs</key>
		<string>[懒得理你]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_lei.png</string>
		<key>chs</key>
		<string>[泪]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_nu.png</string>
		<key>chs</key>
		<string>[怒]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_miao.png</string>
		<key>chs</key>
		<string>[喵喵]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_numa.png</string>
		<key>chs</key>
		<string>[怒骂]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_qian.png</string>
		<key>chs</key>
		<string>[钱]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_qinqin.png</string>
		<key>chs</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_shayan.png</string>
		<key>chs</key>
		<string>[傻眼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_shengbing.png</string>
		<key>chs</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_shenshou.png</string>
		<key>chs</key>
		<string>[神兽]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_shiwang.png</string>
		<key>chs</key>
		<string>[失望]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_shuai.png</string>
		<key>chs</key>
		<string>[衰]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_shuijiao.png</string>
		<key>chs</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_sikao.png</string>
		<key>chs</key>
		<string>[思考]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_taikaixin.png</string>
		<key>chs</key>
		<string>[太开心]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_touxiao.png</string>
		<key>chs</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_tu.png</string>
		<key>chs</key>
		<string>[吐]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_tuzi.png</string>
		<key>chs</key>
		<string>[兔子]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_wabishi.png</string>
		<key>chs</key>
		<string>[挖鼻屎]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_weiqu.png</string>
		<key>chs</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_xiaoku.png</string>
		<key>chs</key>
		<string>[笑cry]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_xiongmao.png</string>
		<key>chs</key>
		<string>[熊猫]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_xixi.png</string>
		<key>chs</key>
		<string>[嘻嘻]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_xu.png</string>
		<key>chs</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_yinxian.png</string>
		<key>chs</key>
		<string>[阴险]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_yiwen.png</string>
		<key>chs</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_yun.png</string>
		<key>chs</key>
		<string>[晕]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_youhengheng.png</string>
		<key>chs</key>
		<string>[右哼哼]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_zhuakuang.png</string>
		<key>chs</key>
		<string>[装困]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_zhutou.png</string>
		<key>chs</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_zuiyou.png</string>
		<key>chs</key>
		<string>[最右]</string>
	</dict>
	<dict>
		<key>png</key>
		<string>d_zuohengheng.png</string>
		<key>chs</key>
		<string>[左哼哼]</string>
	</dict>
</array>
</plist>
